* {
  box-sizing: border-box;
}

body {
  margin: 10;
}

.box {
  width: 50vw;
  height: 100vh;
  background-color: gold;
  border-top: 3px solid green;
}

p {
  letter-spacing: 0.5;
}

.sp {
  font-size: 18px;
}
